{% load static %}
<link rel="stylesheet" href="{% static "plugins/font-awesome/css/font-awesome.css" %}">
<link rel="stylesheet" href="{% static "plugins/bootstrap-3.3.7/css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "plugins/nifty/css/nifty.min.css" %}">
{#<link rel="stylesheet" href="{% static "plugins/nifty/css/nifty-demo.min.css" %}">#}
{#<link rel="stylesheet" href="{% static "plugins/nifty/css/nifty-demo-icons.min.css" %}">#}

<link rel="stylesheet" href="{% static "plugins/magic-check/css/magic-check.min.css" %}">
<link rel="stylesheet" href="{% static "plugins/pace/pace.min.css" %}">


{#<!--Nifty Premium Icon [ DEMONSTRATION ]-->#}
{#    <link href="css/demo/nifty-demo-icons.min.css" rel="stylesheet">#}
{#    <!--Demo [ DEMONSTRATION ]-->#}
{#    <link href="css/demo/nifty-demo.min.css" rel="stylesheet">#}
{#<!--Morris.js [ OPTIONAL ]-->#}
{#    <link href="plugins/morris-js/morris.min.css" rel="stylesheet">#}



