{% load static %}
<link rel="stylesheet" href="{% static "plugins/font-awesome/css/font-awesome.css" %}">
<link rel="stylesheet" href="{% static "plugins/bootstrap-3.3.7/css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "plugins/bootstrap-material-design/css/bootstrap-material-design.min.css" %}">
<link rel="stylesheet" href="{% static "plugins/bootstrap-material-design/css/ripples.min.css" %}">
<link rel="stylesheet" href="{% static "plugins/dropdown.js/jquery.dropdown.css" %}">

<link rel="stylesheet" href="{% static "base/style.css" %}">